# Frontend
frontend/node_modules
frontend/dist

# Backend
backend/__pycache__
backend/.pytest_cache

# Environment
backend/.env
frontend/.env

# Uploads
backend/uploads

# Logs
backend/logs

# OS
.DS_Store
Thumbs.db