Flask
Flask-SQLAlchemy
Flask-JWT-Extended
Flask-SocketIO
Flask-Cors
Flask-Dance
Flask-Limiter
gunicorn
python-dotenv
psycopg2-binary
pydantic
bcrypt
google-auth
google-auth-oauthlib
stripe
pytz
pydantic-settings
openai