.Footer {}

.contact {
  order: 4;
}

.services {
  order: 3;
}

.links {
  order: 2;
}

.logo {
  order: 1;
}

/* tablet + desktop */
@media (min-width: 768px) {
  .contact {
    order: 1;
  }

  .services {
    order: 2;
  }

  .links {
    order: 3;
  }

  .logo {
    order: 4;
  }
}