@import "tailwindcss";

*{
  box-sizing: border-box;
}

html,
body,
#root{
  width: 100%;
  overflow-x: hidden;
}

img{
  max-width: 100%;
  height: auto;
  display: block;
}

.raw {
  @apply flex flex-wrap gap-4;
}
.active{
  color: black;
}
.container{
  @apply mx-auto w-[90%] max-w-[1400px];
}

.cards-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
  gap: 20px;
}
.hero-title{
  font-size: clamp(2rem,5vw,4rem);
}
/* select input */
.css-tj5bde-Svg {
    display: inline-block;
    fill: currentColor;
    line-height: 1;
    stroke: currentColor;
    stroke-width: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

 @layer components {
  /* الكلاس الأساسي */
  .login-fake-element {
    @apply relative text-center;
  }

  .login-fake-element::before,
  .login-fake-element::after {
    content: "";
    @apply absolute bg-gray-200 h-[0.5px];
    top: 50%;
    transform: translateY(-50%);
  }

  .login-fake-element::before {
    left: 0;
    width: 25%;
  }

  .login-fake-element::after {
    right: 0;
    width: 25%;
  }

  /* الميديا كويري للشاشات الكبيرة */
  @media (min-width: 640px) { /* sm */
    .login-fake-element::before,
    .login-fake-element::after {
      width: 32%;
    }
  }
  @media (min-width: 768px) { /* md */
    .login-fake-element::before,
    .login-fake-element::after {
      width: 35%;
    }
  }
  @media (min-width: 1024px) { /* lg */
    .login-fake-element::before,
    .login-fake-element::after {
      width: 25%;
    }
  }

  @media (min-width: 1280px) { /* xl */
    .login-fake-element::before,
    .login-fake-element::after {
      width: 30%;
    }
  }
}


/* إخفاء الـ Scrollbar من كل الموقع */

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
  border-radius: 999px;
  transition: 0.3s;
}